*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.triple_cevron {
    display: flex;
    align-items: center;
}
.triple_cevron i {
    margin: 0;
}
.sim_btn_you {
    display: inline;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    background-color: #4154fe;
}
.sim_btn {
    display: inline;
    color: white;
    padding: 10px 20px 10px 20px;
    border: 1px solid white;
    border-radius: 25px;
    background-color:black;
    margin-left: 10px;
}
.player {
    color:#4154fe;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    align-self: center;
}
li {
    list-style: none;
}
/* HEADER */
header {
    background-color: rgb(0, 0, 0);
}
header img{
    margin-left: 0;
}
#head div:last-child {
    margin-right: 0;
}
#head {
    display: flex;
    color: gray;
    width: 90%;
    align-items: center;
    padding: 20px;
}
.head_wrap ul {
    margin-left: 200px;
}
.head_wrap li {
    display: inline-block;
    padding-left: 30px;
}
.head_btn {
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    background-color: #4154fe;
}
#head li:last-child{
    color:black;
    padding: 0 1px 0 1px;
    margin: 5px;
    background-color: yellow;
}




/* MAIN */
/* FIXED */
.fixed {
    position: fixed;
    right: 5px;
    top: 200px;
}
.fixed div{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    margin-bottom: 5px;
    padding-top: 5px;
}
.fixed p {
    color: green;
    font-weight: 1000;
}
/* JUMBO */
.jumbo {
    display: flex;
    height: 70vh;
    background-image: url("../img/slider82x-scaled.jpg");
    background-size: 100%;
}
.jumbo_wrap {
    display: flex;
    width: 90%;
    align-items: center;
}
.jumbo_text * {
    margin-top: 20px;
}
.jumbo_text {
    margin: 0;
}
.jumbo_text h4{
    color: red;
    font-size: 1.5em;
}
.jumbo_text h1 {
    color: white;
    font-size: 5em;
}
.jumbo_text i {
    color: yellow;
}
.jumbo_text p {
    color: gray;
}
.jumbo_text .span_cev {
    display: inline;
}
.jumbo_text .span_cev i {
    color: white;
}


/* INTRO */

.intro {
    height: 130vh;
    background-image: linear-gradient(to bottom right, blue, red);
}
.intro_wrap {
    position: relative;
    width: 90%;
    height: 100%;
}
.intro_row {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: -100px;
}
.intro_square {
    position: relative;
    width: 30%;
    background-position: center;
    background-size: cover;
    margin: 0;
}
.intro_row img {
    width: 100%;
    filter: brightness(0.7);
    border-bottom-right-radius: 25px;
    box-shadow: 4px 5px 20px 0 black;
}
.intro_square_text{
    position: absolute;
    color: white;
    bottom: 50px;
    left: 50px;
}

.intro_square_text .triple_cevron {
    margin-bottom: 20px;
}
.intro_square_text h3{
    font-size: 2em;
}
.intro_square_text h4 {
    color: yellow;
    font-size: 1.5em;
    margin-top: 5px;
}
.intro_text {
    position: absolute;
    display: flex;
    color: white;
    width: 1500px;
    flex-direction: column;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro_text h2 {
    font-size: 4.5em;
}
.intro_text .triple_cevron {
    color: yellow;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.intro_utn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
.intro_utn span {
    color: gray;
}
.intro_utn img {
    width: 70px;
    border-radius: 50px;
    margin-right: 10px;
}


/* TUNE */
.tune {
    height: 150vh;
    background-color: rgb(255, 255, 255);
}
.ads_girl_wrap {
    position: relative;
}
.ads_girl {
    display: flex;
    position: absolute;
    width: 900px;
    height: 900px;
    align-content: center;
    justify-content: center;
    background-image: url("../img/service15-2x.jpg");
    background-size: cover;
    border-bottom-right-radius: 25px;
    top: -100px;
    left: 0;
}
.tune_text {
    float: right;
    width: 850px;
    height: 850px;
    padding: 10% 0 10% 0;

}
.tune_text h4{
    color:blue;
    font-size: 1.5em;
    margin-bottom: 30px;
}
.tune_text h2 {
    font-size: 4.5em;
    padding-right: 20%;
}
.tune_text p {
    font-size: 1.1em;
    margin: 30px 0 40px 0;
    padding-right: 10%;
}
.tune_text .sim_btn_you {
    background-color: red;
}

.tune_video {
    height: 40%;
}
.tune_video p {
    color: blue;
    margin-top: 5px;
}
.tune_video_title {
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.tune_video_row {
    width: 90%;
    display: flex;
}
.tune_video_row div {
    padding: 30px;
    text-align: center;
}
.tune_video_row img {
    width: 100%;
    border-bottom-right-radius: 25px;
}
.tune_video_row_img {
    position: relative;
}
.tune_video_row_img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

/* JOIN */
.join {
    display: flex;
    height: 70vh;
    background-image: url("../img/banner1-2x.jpg");
    background-position: top;
    background-size: 100%;
    align-items: center;
}
.join input {
    border-radius: 25px;
    width: 700px;
    height: 50px;
}
.join .sim_btn {
    background-color: #4154fe;
    padding: 15px 50px 15px 50px;
    width: 200px;
    border: none;

}
.join_wrap {
    display: flex;
    width: 90%;
    align-items: center;
}
.join_text * {
    margin-top: 20px;
}
.join_text {
    margin: 0;
}
.join_text h4{
    color: red;
    font-size: 1.5em;
}
.join_text h1 {
    color: white;
    font-size: 4em;
    padding-right: 40%;
}
.join_text i {
    color: yellow;
    font-size: 1.5em;
}
.join_text p {
    color: gray;
}
.join_text .span_cev {
    display: inline;
}
.join_text .span_cev i {
    color: white;
}
/* LINK */
.link{
    background-color: black;
    padding: 5% 0 5% 0;
}
.link_wrap {
    display: flex;
    width: 90%;
    align-content: center;
    justify-content: space-between;
}
.link_wrap > div {
    color:white;
    width: 400px;
    height: 600px;
    text-align: center;
    padding: 5% 3% 5% 3%;
    border: 2px solid #4154fe;
}
.link_wrap > div > i{
    font-size: 10em;
    padding-bottom: 20px;
}
.link_wrap h4 {
    font-size: 2em;
    padding-bottom: 10px;
}
.link_wrap h5 {
    color: yellow;
    font-size: 1.8em;
    padding-bottom: 30px;
}
.link_wrap p {
    padding: 30px;
}
.link_wrap .span_cev {
    font-size: 1.5em;
}
/* ARTICLES */
.articles {
    background-color: rgb(255, 255, 255);
}
.articles_wrap {
    width: 90%;
    padding: 3% 0 3% 0;
}
.articles_title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.articles_title h3{
    margin-left: 0;
}
.articles_title .span_cev {
    margin-right: 0;
}
.articles_row {
    display: flex;
}
.articles_row > div {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
}
.articles_row img {
    width: 90%;
    margin-bottom: 20px;
}
.articles_row_img {
    position: relative;
}
.articles_row_img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
.articles_text {
    margin: 0 0 5% 5%;
}
.articles_text h3 {
    padding-bottom: 10px;
}
/* FAIL */

.fail {
    display: flex;
    color: white;
    height: 70vh;
    align-content: center;
    justify-content: center;
    background-image: url("../img/banner2-2x.jpg");
    background-position: top;
    background-size: 100%;
}
.fail_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 30% 0 30%;
}
.fail_text h2 {
    font-size: 3em;
    margin-bottom: 20px;
}
.fail_text .triple_cevron{
    color: yellow;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.fail_text .sim_btn {
    background-color: #4154fe;
    margin: 5% 30% 0 30%;
    align-self: center;
    border: none;
}

/* PARTNER */

.partner{
    background-color: white;
    padding: 5% 0 5% 0;
}
.partner_wrap {
    display: flex;
    width: 90%;
    align-content: center;
    justify-content: space-between;
}
.partner_wrap > div {
    color:black;
    width: 400px;
    height: 600px;
    text-align: center;
    padding: 5% 3% 5% 3%;
}
.partner_wrap > div > img{
    padding-bottom: 20px;
}
.partner_wrap .triple_cevron {
    display: flex;
    color: #4154fe;
    padding-bottom: 10px;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.partner_wrap h5 {
    font-size: 1.8em;
    padding-bottom: 30px;
}
.partner_wrap p {
    padding: 30px;
}
.partner_wrap .span_cev {
    font-size: 1.5em;
}
/* DATING */
.dating {
    display: flex;
    color: white;
    height: 70vh;
    align-content: center;
    justify-content: center;
    background-image: url("../img/banner14-2x.jpg");
    background-color: linear-gradient(to bottom right, rgb(0, 0, 255, 0.3), rgb(255, 0, 0, 0.3));
    background-position: top;
    background-size: 100%;
}
.dating_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 30% 0 30%;
}
.dating_text h2 {
    font-size: 3em;
    margin-bottom: 20px;
}
.dating_text h4 {
    color: yellow;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* FOOTER */

footer {
    position: relative;
    color: white;
    height: 70vh;
    background-color: black;
}
#foot {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
#foot i {
    color: #ec5a57;
    padding: 30px 5px 0 5px;
}
footer h4 {
    padding-bottom: 30px;
}
.footer_logo,
.footer_post,
.footer_contacts {
    width: 500px;
    text-align: center;
    padding: 5% 0 5% 0;
}
.footer_logo img{
    margin-bottom: 30px;
}
.footer_logo div{
    display: inline;
}

.footer_post li {
    padding-bottom: 20px;
}
#foot .footer_post i {
    color: white;
}

.footer_contacts span {
    color: lightgrey;
    margin-bottom: 20px;
}
.footer_contacts p {
    padding-bottom: 5px;
}

.foot_copy {
    position: absolute;
    color:gray;
    font-size: 0.8em;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}
.foot_copy span {
    color: white;
}