<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/master.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> 
</head>
<body>
    <header>
        <div class="head_wrap">
            <div id="head" >
                <img :src="img" alt="">
                <ul>
                    <li v-for="element in navBar">{{element}}</li>
                </ul>
                <div class="head_btn"><span>{{btn}}</span></div>
                <div v-for="element in i">
                    <i :class="element"></i>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="jumbo">
            <div class="jumbo_wrap">
                <div class="jumbo_text">
                    <h4>Certified fitness professional</h4>
                    <h1>Take control of your health</h1>
                    <div class="triple_cevron">
                        <i class="fas fa-chevron-up"></i>
                        <i class="fas fa-chevron-up"></i>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <p>Curabitur non nulla sit amet nisi tempus convallis quis ac lectus dolor sit amet.</p>
                    <div>
                        <div class="span_cev sim_btn_you">
                            <i class="fab fa-youtube"></i> <span>Visit my Youtube channel</span> 
                        </div>
                        <div class="span_cev sim_btn">
                            <span>Buy avada today</span> <i class="fas fa-arrow-right"></i> 
                        </div>
                    </div>                
                </div>
                <i class="player fas fa-play"></i>                
            </div>

        </div>
        <!-- FINE JUMBO -->
        <div class="intro">
            <div class="intro_wrap">
                <div class="intro_row">
                    <div class="intro_square">
                        <img src="img/service6-2x.jpg" alt="">
                        <div class="intro_square_text">
                            <div class="triple_cevron">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <h3>Crossfit workout</h3>
                            <h4>Push Your limits</h4>
                        </div>
                    </div >
                    <div class="intro_square">
                        <img src="img/box1-2x.jpg" alt="">
                        <div class="intro_square_text">
                            <div class="triple_cevron">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <h3>New gym apparel</h3>
                            <h4>Look good, feel good</h4>                            
                        </div>
                    </div>
                    <div class="intro_square">
                        <img src="img/box3-2x.jpg" alt="">
                        <div class="intro_square_text">
                            <div class="triple_cevron">
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                                <i class="fas fa-chevron-up"></i>
                            </div>
                            <h3>Team training</h3>
                            <h4>FInd a partner</h4>                            
                        </div>
                    </div>                
                </div>
                <div class="intro_text">
                    <h2>"How you respond to the challenge in the second half will determinate ehat you become after the game, whether you are a winner or a looser."</h2>
                    <div class="triple_cevron">
                        <i class="fas fa-chevron-up"></i>
                        <i class="fas fa-chevron-up"></i>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div class="intro_utn">
                        <img src="img\avatar-1-2x.jpg" alt=""> 
                        <p>Brian Johnson <span>Las Vegas</span></p>
                    </div>
                </div>                
            </div>
        </div>
        <!-- FINE INTRO -->
        <div class="tune">
            <div class="ads_girl_wrap">
                <div class="ads_girl">
                    <i class="player fas fa-play"></i>
                </div>                
            </div>
            <div class="tune_text">
                <h4>Tune up your workouts</h4>
                <h2>The best healt & fitness advice online</h2>
                <div class="youtube"></div>
                <p>Arcu eu facilist ut quisque placerat nunc habitat. Magna sempre moutris, venrandis, leo integer sut pallentesque.</p>
                <div class="sim_btn_you">
                    <i class="fab fa-youtube"></i> 
                    <span>Visit my Youtube channel</span> 
                </div>
            </div>
            <div class="tune_video">
                <div class="tune_video_title">
                    <h4>Featured playlist</h4>
                    <div class="span_cev">
                        <span>View all videos</span> <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="tune_video_row">
                    <div>
                        <div class="tune_video_row_img" >
                            <img src="img\video2-2x.jpg" alt="">
                            <i class="player fas fa-play"></i>    
                        </div>
                        <h3>Things &glute workout</h3>
                        <p>increase your mobility</p>
                    </div>
                    <div>
                        <div class="tune_video_row_img" >
                            <img src="img\video7-2x.jpg" alt="">
                            <i class="player fas fa-play"></i>
                        </div>
                        <h3>Lift, firm & perk up</h3>
                        <p>Feel young again</p>
                    </div>
                    <div>
                        <div class="tune_video_row_img" >
                            <img src="img\video9-2x.jpg" alt="">
                            <i class="player fas fa-play"></i>
                        </div>
                        <h3>Slim & trium your waist</h3>
                        <p> Shed chose extra punds</p>
                    </div>                     
                </div>
   
            </div>
        </div>
        <!-- FINE TUNE -->
        <div class="join">
            <div class="join_wrap">
                <div class="join_text">
                    <h4>Join our mailing list</h4>
                    <h1>Insider offers & flash sales in your inbox every week</h1>
                    <div class="triple_cevron">
                        <i class="fas fa-chevron-up"></i>
                        <i class="fas fa-chevron-up"></i>
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div>
                        <input type="email">
                        <div class="sim_btn">
                            <span>Subscribe</span>
                        </div>
                    </div> 
                    <p>Curabitur non nulla sit amet nisi tempus convallis quis ac lectus dolor sit amet.</p>
               
                </div>              
            </div>
        </div>
        <!-- FINE JOIN -->
        <div class="link">
            <div class="link_wrap">
                <div>
                    <i class="fas fa-stopwatch"></i>
                    <h4>Team Training</h4>
                    <h5>Find a partner</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure atque error! Perspiciatis officiis vel a saepe, nihil rem.</p>
                    <div class="span_cev">
                        <span>Find a partner</span> <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div>
                    <i class="fas fa-dumbbell"></i>
                    <h4>Crossfit Workout</h4>
                    <h5>Push Your limits</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure atque error! Perspiciatis officiis vel a saepe, nihil rem.</p>
                    <div class="span_cev">
                        <span>Learn abaout crossfit</span> <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div>
                    <i class="fas fa-female"></i>
                    <h4>Weight loss plan</h4>
                    <h5>Shed those pounds</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure atque error! Perspiciatis officiis vel a saepe, nihil rem.</p>
                    <div class="span_cev">
                        <span>Schedule a workout</span> <i class="fas fa-chevron-right"></i>
                    </div>
                </div>                
            </div>

        </div>
        <!-- FINE LINK -->
        <div class="articles">
            <div class="articles_wrap">
                <div class="articles_title">
                    <h4>Featured playlist</h4>
                    <div class="span_cev">
                        <span>View all videos</span> <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="articles_row">
                    <div>
                        <div class="articles_video_img" >
                            <img src="img\blog4-2x.jpg" alt="">   
                        </div>
                        <div class="articles_text">
                            <h3>Things &glute workout</h3>
                            <p>increase your mobility</p>                           
                        </div>

                    </div>
                    <div>
                        <div class="articles_img" >
                            <img src="img\blog1-2x.jpg" alt="">
                        </div>
                        <div class="articles_text">
                            <h3>Lift, firm & perk up</h3>
                            <p>Feel young again</p>                            
                        </div>
                    </div>
                    <div>
                        <div class="articles_img" >
                            <img src="img\blog3-2x.jpg" alt="">
                        </div>
                        <div class="articles_text">
                            <h3>Slim & trium your waist</h3>
                            <p> Shed chose extra punds</p>                            
                        </div>
                    </div>                     
                </div>
            </div>
        </div>
        <!-- FINE ARTICLES -->
        <!-- <div class="fail">
            <div class="join_text">
                <h2>"i've failed over and over again in my life. And that is why i succeed</h2>
                <div class="triple_cevron">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure atque error! Perspiciatis officiis vel a saepe, nihil rem.</p>
                <div class="span_cev">
                    <span>Read all articles</span> <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
        FINE FAIL
        <div class="partner">
            <div>
                <img src="img\sponsor-1-2x.png" alt="">
                <div class="triple_cevron">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure atque error! Perspiciatis officiis vel a saepe, nihil rem.</p>
                <div class="span_cev">
                    <span>Visit yoga studio</span> <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div>
                <img src="img\sponsor-2-2x.png" alt="">
                <div class="triple_cevron">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure atque error! Perspiciatis officiis vel a saepe, nihil rem.</p>
                <div class="span_cev">
                    <span>Join fitness center</span> <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div>
                <img src="img\sponsor-3-2x.png" alt="">
                <div class="triple_cevron">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure atque error! Perspiciatis officiis vel a saepe, nihil rem.</p>
                <div class="span_cev">
                    <span>Learn about FC</span> <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <div>
                <img src="img\sponsor-4-2x.png" alt="">
                <div class="triple_cevron">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo iure atque error! Perspiciatis officiis vel a saepe, nihil rem.</p>
                <div class="span_cev">
                    <span>Visit power gym</span> <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
        FINE PARTNER -->
        <!-- <div class="dating">
            <i class="player" class="fas fa-play"></i>
            <h3>Crossfit workout of the day</h3>
            <h4>November 15th 2019</h4>
            <div class="span_cev">
                <span>View all Videos</span> <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        FINE DATING -->
    </main>
    <footer>
        <div id="foot">
            <div class="footer_logo">
                <img :src="img" alt="">
                <p>{{text}}</p>
                <div v-for="element in icons">
                    <i :class="element"></i>
                </div>
            </div>
            <div class="footer_post">
                <h4>{{ulTitle}}</h4>
                <ul>
                    <li v-for="element in posts">{{element}}</li>
                </ul>
            </div>
            <div class="footer_contacts">
                <h4>{{contact}}</h4>
                <span>{{adress}}</span>
                <p>{{mobile}}</p>
                <p>{{email}}</p>    
            </div>
            <p class="foot_copy">{{copyright}}</p>
        </div>                  
        <hr>          
    </footer>
    <script src="js/main.js"></script>
</body>
</html>