<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/master.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script> 
</head>
<body>
    <header>
        <div id="head" >
            <img :src="image(logo)" alt="">
            <ul>
                <li v-for="element in navBar">{{element}}</li>
            </ul>
            <div><span>{{btn}}</span></div>
            <div>
                <i :class="i[1]"></i>
                <i :class="i[0]"></i>
            </div>
        </div>

    </header>

    <main>
        <div class="jumbo">
            <div class="jumbo_text">
                <h4>Certified fitness professional</h4>
                <h1>Take control of your health</h1>

                <p>Curabitur non nulla sit amet nisi tempus convallis quis ac lectus dolor sit amet.</p>
            </div>
            <div>
                <div class="span_cev sim_btn_you">
                    <i class="fab fa-youtube"></i> <span>Visit my Youtube channel</span> 
                </div>
                <div class="span_cev sim_btn">
                    <span>Buy avada today</span> <i class="fas fa-arrow-right"></i> 
                </div>
            </div>
            <i class="player" class="fas fa-play"></i>
        </div>
        <!-- FINE JUMBO -->
        <div class="intro">
            <div>
                <div class="triple_cevron">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                </div>
                <h4>Crossfit workout</h4>
                <h3>Push Your limits</h3>
            </div>
            <div>
                <div class="triple_cevron">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                </div>
                <h4>New gym apparel</h4>
                <h3>Look good, feel good</h3>
            </div>
            <div>
                <div class="triple_cevron">
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                    <i class="fas fa-chevron-up"></i>
                </div>
                <h4>Team training</h4>
                <h3>FInd a partner</h3>
            </div>
            <div class="intro_text">
                <h2>"How you respond to the challenge in the second half will determinate ehat you become after the game, whether you are a winner or a looser."</h2>
                <div class="triple_cevron"></div>
                <div class="intro_utn">
                    <img src="img\avatar-1-2x.jpg" alt=""> <span>Brad Johnson</span> <span>Las Vegas</span>
                </div>
            </div>
        </div>
        <!-- FINE INTRO -->
        <div class="tune">
            <div class="ads_girl">
                <i class="player" class="fas fa-play"></i>
            </div>
            <div class="tune_text">
                <h4>Tune up your workouts</h4>
                <h2>The best healt & fitness advice online</h2>
                <div class="youtube"></div>
                <p>Arcu eu facilist ut quisque placerat nunc habitat. Magna sempre moutris, venrandis, leo integer sut pallentesque.</p>
                <div class="span_cev sim_btn_you">
                    <i class="fab fa-youtube"></i> <span>Visit my Youtube channel</span> 
                </div>
            </div>
            <div class="tune_video">
                <div class="tune_video_title">
                    <h4>Featured playlist</h4>
                    <div class="span_cev">
                        <span>View all videos</span> <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <i class="player" class="fas fa-play"></i>
                    <h5></h5>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <i class="player" class="fas fa-play"></i>
                    <h5></h5>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <i class="player" class="fas fa-play"></i>
                    <h5></h5>
                    <p></p>
                </div>    
            </div>
        </div>
        <!-- FINE TUNE -->
        <div class="join">
            <div class="join_text">
                <h4></h4>
                <h2></h2>
                <div class="triple_cevron">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <input type="email"> <button></button>
                <p></p>
            </div>
        </div>
        <!-- FINE JOIN -->
        <div class="link">
            <div>
                <i></i>
                <h4></h4>
                <h5></h5>
                <p></p>
                <div class="span_cev">
                    <span></span> <i></i> 
                </div>
            </div>
            <div>
                <i></i>
                <h4></h4>
                <h5></h5>
                <p></p>
                <div class="span_cev">
                    <span></span> <i></i> 
                </div>
            </div>
            <div>
                <i></i>
                <h4></h4>
                <h5></h5>
                <p></p>
                <div class="span_cev">
                    <span></span> <i></i> 
                </div>
            </div>
        </div>
        <!-- FINE LINK -->
        <div class="articles">
            <div class="articles">
                <div class="articles_title">
                    <h4></h4>
                    <div class="span_cev">
                        <span></span> <i></i> 
                    </div>
                </div>
                <div>
                    <img src="" alt="">
                    <h5></h5>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <h5></h5>
                    <p></p>
                </div>
                <div>
                    <img src="" alt="">
                    <h5></h5>
                    <p></p>
                </div>    
            </div>
        </div>
        <!-- FINE ARTICLES -->
        <div class="fail">
            <div class="join_text">
                <h2></h2>

                <p></p>
                <div class="span_cev sim_btn">
                    <span></span> <i></i> 
                 </div>
            </div>
        </div>
        <!-- FINE FAIL -->
        <div class="partner">
            <div>
                <img src="" alt="">
                <div class="triple_cevron">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <p></p>
                <div class="span_cev">
                   <span></span> <i></i> 
                </div>
            </div>
            <div>
                <img src="" alt="">
                <div class="triple_cevron">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <p></p>
                <div class="span_cev">
                   <span></span> <i></i> 
                </div>
            </div>
            <div>
                <img src="" alt="">
                <div class="triple_cevron">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <p></p>
                <div class="span_cev">
                   <span></span> <i></i> 
                </div>
            </div>
            <div>
                <img src="" alt="">
                <div class="triple_cevron">
                    <i></i>
                    <i></i>
                    <i></i>
                </div>
                <p></p>
                <div class="span_cev">
                   <span></span> <i></i> 
                </div>
            </div>
        </div>
        <!-- FINE PARTNER -->
        <div class="dating">
            <i class="player"></i>
            <h3></h3>
            <h4></h4>
            <div class="span_cev">
                <span></span> <i></i> 
             </div>
        </div>
        <!-- FINE DATING -->
    </main>
    <footer>
        <div id="foot">
            <div>
                <img :src="image(logo)" alt="">
                <p>{{text}}</p>
                <div v-for="icon in icons">
                    {{icon}}
                </div>
            </div>
            <div>
                <h4>{{ulTitle}}</h4>
                <ul>
                    <li v-for="element in posts">{{element}}</li>
                </ul>
            </div>
            <div>
                <h4>{{contact}}</h4>
                <p>{{adress}}</p>
                <p>{{mobile}}</p>
                <p>{{email}}</p>    
            </div>
            <hr>
            <p>{{copyright}}</p>
        </div>
    </footer>
    <script src="js/main.js"></script>
</body>
</html>